<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">My Shop</a></li>
            <li class="main-header__item"><a href="/grocery-products">Grocery</a></li>
            <li class="main-header__item"><a href="/home-appliance">Home appliance</a></li>
            <li class="main-header__item"><a href="/kitchen-appliances">kitchen appliances</a></li>
            
            <li class="main-header__item"><a class="<%= path === '/admin/add-products' ? 'active' : '' %>" href="/admin/add-products">Add Product</a></li>
        </ul>
    </nav>
</header>
