<%- include('includes/head.ejs') %>
</head>
<body>
<%- include('includes/navigation.ejs') %>
<main>
 
    <form class="product-form" action="/shopProducts" method="POST">
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" name="title" id="title">
        </div>
        <div class="form-control">
            <label for="imageUrl">Select Image</label>
            
             
                <input name="Select File" type="file" />
          
        </div>
        <div class="form-control">
            <label for="price">Price</label>
            <input type="number" name="price" id="price" step="0.01">
        </div>
        <div class="form-control">
            <label for="description">Description</label>
            <textarea name="description" id="description" rows="5"></textarea>
        </div>

        <button class="btn" type="submit">Add Product</button>
    </form>
   
</main>

<%- include('includes/end.ejs') %>
<!--
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3>Services</h3>
                <ul>
                    <li><a href="/grocery-product">Grocery</a></li>
                    <li><a href="/home-appliance">Home appliance</a></li>
                    <li><a href="/kitchen-appliances">kitchen appliances</a></li>
                    <li><a href="/admin/add-product">Add Product</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>About</h3>
                <ul>
                    <li><a href="/about">Company</a></li>
                  
                </ul>
            </div>

            <div>
                <form action="#">
                    <div class="form-row">
                        <div class="col dk-footer-form">
                            <input type="email" class="form-control" placeholder="Email Address">
                            <button type="submit">
                                <i class="fa fa-send"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
       
            
        </div>
        <p class="copyright">jupiter © 2021</p>
    </div>
</footer> -->
