<%- include('includes/head.ejs') %>
</head>
<body>
<%- include('includes/navigation.ejs') %>
<main>
<h3>Products...</h3>

<% for(let product of productName) { %>
    <%= productName %>
    <%} %>
    <% } else { %>
        <h1>No Products Found!</h1>
        <form action="/grocery-products">
            <a class="active" href="/admin/add-products">Add Product >></a>
          </form>
          %>
  <%}%>


</main>

<%- include('includes/end.ejs') %>