<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop jupiter</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">My Shop</a></li>
                <li class="main-header__item"><a href="/grocery-product">Grocery</a></li>
                <li class="main-header__item"><a href="/home-appliance">Home appliance</a></li>
                <li class="main-header__item"><a href="/kitchen-appliances">kitchen appliances</a></li>
                
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
<main>
    <h1> List ...</h1>
</main>
<!-- 
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3>Services</h3>
                <ul>
                    <li><a href="/grocery-product">Grocery</a></li>
                    <li><a href="/home-appliance">Home appliance</a></li>
                    <li><a href="/kitchen-appliances">kitchen appliances</a></li>
                    <li><a href="/admin/add-product">Add Product</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>About</h3>
                <ul>
                    <li><a href="/about">Company</a></li>
                  
                </ul>
            </div>

            <div>
                <form action="#">
                    <div class="form-row">
                        <div class="col dk-footer-form">
                            <input type="email" class="form-control" placeholder="Email Address">
                            <button type="submit">
                                <i class="fa fa-send"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
       
            
        </div>
        <p class="copyright">jupiter © 2021</p>
    </div>
</footer> -->
</body>
</html>